html, body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "BureauGrotesque";
  src: url("../fonts/ufonts.com_bureaugrotesque-threeseven.eot");
}

@font-face {
  font-family: "BureauGrotesque";
  src: url("../fonts/ufonts.com_bureaugrotesque-threeseven.ttf") format("truetype");
}

h1 {
  text-align: center;
}


/* headline styles */

.banner {
  background-color: #3377ff;
}


.titles {
  font-size: 75px;
  font-weight: 900;
  text-shadow: .04em .04em 0 #3377ff;
  padding: 10px;
  z-index: 1;
}

.titles,
.titles:after {
  font-family: 'Raleway', sans-serif;
  color: gold;
}

/* END BANNER */

/* top part */

#top-section {
  max-width: 100vw;
}
