html, body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "BureauGrotesque";
  src: url("../fonts/ufonts.com_bureaugrotesque-threeseven.eot");
}

@font-face {
  font-family: "BureauGrotesque";
  src: url("../fonts/ufonts.com_bureaugrotesque-threeseven.ttf") format("truetype");
}

h1 {
  text-align: center;
}


/* banner */

.banner {
  background-color: #3377ff;
}


/* headline styles */

.titles {
  font-size: 75px;
  font-weight: 900;
  text-shadow: .04em .04em 0 #3377ff;
  z-index: 1;
}

.titles,
.titles:after {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  position: relative;
  top: 45%;
  width: 100%;
  color: gold;
  white-space: nowrap;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

.titles:after {
  content: attr(data-text-shadow);
  color: transparent;
  text-shadow: none;
  position: absolute;
  left: .0875em;
  top: .0875em;
  z-index: -1;
  background: linear-gradient(45deg, transparent 25%, white 25%, white 50%, transparent 50%, transparent 75%, white 75%, white);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  background-clip: text;
}


/* END BANNER */

/* top part */

#top-section {
  max-width: 95vw;
}

#top-section h1 {
  text-align: center;
}

/* card styling */

.court-section {
  border-left: 10px solid #3377ff;
  border-bottom: 10px solid #3377ff;
}

#field-container img {
  display: block;
  margin: auto;
}

.reveal {
  text-align: center;
}

.player-card {
  height: 100%;
  width: 100%;
}

#player-name {
  text-align: center;
  font-family: 'BureauGrotesque', Verdana, sans-serif;
}

#player-img {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.all-stats {
  display: block;
}

.player-stats {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: gold;
  border-radius: 3px;
  background-color: #3377ff;
  width: 20%;
  padding: 5px;
  margin: 10px;
  display: inline;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.player-link-div {
  background-color: rgba(211, 211, 211, 1);
  padding: 5px;
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 3px;
}

#player-link {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/* BY THE NUMBER STYLING */

.number-section {
  border-right: 10px solid #3377ff;
  border-bottom: 10px solid #3377ff;
  text-align: center;
}

.number {
  text-align: center;
  font-size: 70px;
  color: gold;
  font-family: 'Amiko', sans-serif;
}

.bruin-by-numbers {
  width: 60%;
  display: block;
  margin: auto;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.bruin-by-numbers > div {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 3% 7%;
  margin: 3%;
  background-color: #3377ff;
  color: white;
  font-size: 120%;
}

@media all and (max-width: 480px) {
.bruin-by-numbers {width: 90%; font-size: 80%;}
.number-section > h1 {text-align: center;}
.number{font-size: 375%;}
.titles{font-size: 250%}
}
/* FINISH BY THE NUMBER STYLING */

/* TIMELINE STYLING */

.timeline-section {
  border-left: 10px solid #3377ff;
  border-bottom: 10px solid #3377ff;
}

/* FINISH TIMELINE STYLING */

/* BRACKET STYLING */

/*
 *  Flex Layout Specifics
*/
#bracket-header {
  font-family: 'BureauGrotesque', Verdana, sans-serif;
}

main{
  display:flex;
  flex-direction:row;
}

.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width: 10vw;
  list-style:none;
  padding:0;
}

.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
  flex-grow:1;
}

/*
 *  General Styles
*/

li.game{
  padding-left:20px;
  z-index: -5;
}

li.game.winner{
  font-weight:bold;
}

li.game span{
  float:right;
  margin-right:5px;
}

li.game-top{ 
  border-bottom:1px solid #aaa;
}

li.game-spacer{ 
  border-right:1px solid #aaa;
  min-height:40px;
}

li.game-bottom{ 
  border-top:1px solid #aaa;
}


/* FINISH BRACKET STYLING */
/* tooltip */
.wrapper {
  color: #555;
  max-width: 40vw;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.wrapper .custom-tooltip {
  background: #1496bb;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
  
.wrapper:hover .custom-tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .custom-tooltip {
  display: none;
}

.lte8 .wrapper:hover .custom-tooltip {
  display: block;
}

/* FINISH BRACKET STYLING */
