area {
	cursor: pointer;
}


/*img creds*/

.nav-container {
	margin: 0px;
}

.baseball-preview-image {
	display: block;
	margin: 3% auto;
}

#field-container {
	padding-left: 3vw;
}


/* 2017 code */

.reveal {
	overflow-y: hidden;
}

.flip-toggle {
	margin-top: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	color: gray;
	text-align: center;
}

.player-card {
	width: 50vw;
	margin: 0 auto;
}

.front-card-content {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.front-card-content:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.front-card-mug {
	height: 70vh;
	display: block;
	margin: auto;
}

.front-card-content h1 {
	text-align: center;
}

.front-card-content h2 {
	text-align: center;
}

.back-card-content {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 5%;
}

.back-card-content:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.player-top {
	margin: 0px 0px 3% 0px;
}

.back-card-content img {
	max-width: 230px;
	min-width: 150px;
	width: 25vw;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}

.back-card-content .block-photo {
	padding: 0px 0px 8px 12px;
	margin-top: -26%;
	margin-right: 5%;
	float: right;
}

.player-info>p {
	margin: 0px;
	padding: 1px;
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

.player-name>h1 {
	font-family: 'Fjalla One', serif;
	margin: 0px;
	font-size: 54px;
	text-align: right;
}

.player-name>p {
	font-family: 'Fjalla One', serif;
	margin: 0px;
	text-align: right;
}

.blurb {
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

.player-number {
	display: block;
	background-color: #3284BF;
	text-align: center;
	color: gold;
	font-size: 36px;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 3px;
	max-width: 125px;
}

.player-stats .stats {
	font-size: 20px;
	text-align: center;
}

.player-stats .source {
	font-size: 12px;
	color: gray;
	text-align: right;
}

.player-stats hr {
	margin: 3px;
	height: 8px;
	background-image: url("../img/bg.jpg");
}

.stats-circle-container {
	display: block;
	margin: auto;
}

.stats-circle {
	text-align: center;
	vertical-align: middle;
	width: 16.66%;
	height: 0;
	padding-bottom: 16.66%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #1775D7;
}

.stats-circle>p {
	line-height: 25px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	color: white;
}

.stats-circle p:first-child {
	padding-top: 20%;
}

.statistics p {
	font-size: 12px;
	font-family: 'Fjalla One', serif;
}

.card-sides {
	border-width: 12px;
	border-style: solid;
	border-color: #3284BF;
}

#stats-number {
	font-size: 25px;
	color: gold;
}

.front-names h1 {
	font-size: 52px;
	font-family: 'Fjalla One', serif;
}

.front-names h2 {
	font-size: 24px;
	font-family: 'Fjalla One', serif;
	margin-bottom: 3%;
}


/*skewed text*/

.desc-container {
	height: 150px;
	width: 40vw;
	line-height: 200px;
	text-align: center;
}

.description-text {
	margin-top: 10%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

footer {
	color: rgba(0, 0, 0, 0.7);
	padding: 8px 0 17px 0;
	font-size: 0.6em;
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.skewed {
	z-index: 999;
	display: inline-block;
	font: 3em impact, sans-serif;
	margin-top: 3em;
	position: relative;
	-webkit-transform: rotate(-10deg) skew(-10deg, 0);
	-moz-transform: rotate(-10deg) skew(-10deg, 0);
	-ms-transform: rotate(-10deg) skew(-10deg, 0);
	-o-transform: rotate(-10deg) skew(-10deg, 0);
	transform: rotate(-10deg) skew(-10deg, 0);
}

.skewed span {
	background: #DDC085;
	box-shadow: 0 0 0 .2em #ffe;
	color: white;
	padding: 1em;
	position: relative;
	text-shadow: 1px 2px 0 #666, 2px 3px 0 #888;
}


/* media queries */

@media (min-width: 640px) and (max-width: 1024px) {
	.front-names h1 {
		font-size: 24px;
		font-family: 'Fjalla One', serif;
	}
	.front-names h2 {
		font-size: 12px;
		font-family: 'Fjalla One', serif;
		margin-bottom: 3%;
	}
	.player-name>h1 {
		font-family: 'Fjalla One', serif;
		margin: 0px;
		font-size: 24px;
		text-align: right;
	}
	.player-name>p {
		font-family: 'Fjalla One', serif;
		margin: 0px;
		font-size: 16px;
		text-align: right;
	}
	.front-card-content img {
		border-radius: 3px;
		max-height: 50vh;
	}
	.player-card {
		width: 60vw;
	}
	.player-info>p {
		font-size: 12px;
	}
	.player-number {
		display: block;
		background-color: blue;
		text-align: center;
		color: white;
		font-size: 16px;
		margin: 10px 0px;
		border-radius: 3px;
	}
	.blurb {
		font-size: 12px;
	}
	.back-card-content img {
		max-width: 150px;
		min-width: 100px;
		width: 20vw;
		display: inline-block;
		vertical-align: middle;
		border-radius: 3px;
	}
	.player-stats .stats {
		font-size: 14px;
	}
	.source {
		font-size: 12px;
	}
	.stats-circle>p {
		line-height: 8px;
		font-size: 12px;
		font-family: 'Oswald', sans-serif;
		color: white;
	}
	#stats-number {
		font-size: 15px;
		color: gold;
	}
	/*top part */
	.desc-container {
		height: 150px;
		width: 40vw;
		text-align: center;
	}
	.description-text {
		margin-top: 10%;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		font-size: .8em;
	}
	footer {
		color: rgba(0, 0, 0, 0.7);
		padding: 8px 0 17px 0;
		font-size: 0.6em;
		clear: both;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		text-align: center;
	}
	.skewed {
		font-size: 2em;
	}
}


/* media queries */

@media (min-width: 320px) and (max-width: 639px) {
	.front-names h1 {
		font-size: 14px;
		font-family: 'Fjalla One', serif;
	}
	.front-names h2 {
		font-size: 10px;
		font-family: 'Fjalla One', serif;
		margin-bottom: 3%;
	}
	.player-name>h1 {
		font-family: 'Fjalla One', serif;
		margin: 0px;
		font-size: 12px;
		text-align: right;
	}
	.player-name>p {
		font-family: 'Fjalla One', serif;
		margin: 0px;
		font-size: 12px;
		text-align: right;
	}
	.front-card-content img {
		border-radius: 3px;
		max-height: 40vh;
	}
	.player-card {
		width: 65vw;
	}
	.player-info>p {
		font-size: 7px;
	}
	.front-card-mug {
		max-width: 40vw;
	}
	.player-number {
		display: block;
		background-color: blue;
		text-align: center;
		color: white;
		font-size: 7px;
		margin: 3px 0px;
		max-width: 30px;
		border-radius: 3px;
	}
	.blurb {
		font-size: 8px;
	}
	.back-card-content img {
		max-width: 150px;
		min-width: 100px;
		width: 20vw;
		display: inline-block;
		vertical-align: middle;
		border-radius: 3px;
	}
	.player-stats .stats {
		font-size: 7px;
	}
	.source {
		font-size: 5px;
	}
	.stats-circle>p {
		line-height: 3px;
		font-size: 4px;
		font-family: 'Oswald', sans-serif;
		color: white;
	}
	#stats-number {
		font-size: 5px;
		color: gold;
	}
	.desc-container {
		height: 150px;
		width: 40vw;
		text-align: center;
	}
	.description-text {
		margin-top: 5%;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		font-size: .5em;
	}
	footer {
		color: rgba(0, 0, 0, 0.7);
		padding: 8px 0 17px 0;
		font-size: 0.5em;
		clear: both;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		text-align: center;
	}
	.skewed {
		font-size: 0.9em;
	}
}